<html>
<head>
<title>Cadastro de Pessoas</title>
</head>
<body>
	<h2>Cadastrar Pessoa</h2>
	<form method="POST" action="/salvar">
		<label for="nome">Nome:</label>
		<input type="text" name="nome"size="32"></input><br />
		<label for="cargo">Cargo:</label>
		<input type="text" name="cargo" size="32"></input><br /><br /> 
		<input type="submit"></input>
	</form>

	<h2>Listar Pessoas</h2>
	<div th:unless="${#lists.isEmpty(pessoas)}">
		<dl th:each="pessoa : ${pessoas}">
			<dt>
				<span th:text="${pessoa.nome}">Nome</span> - <span
					th:text="${pessoa.cargo}">Cargo</span>
			</dt>
		</dl>
	</div>
	<div th:if="${#lists.isEmpty(pessoas)}">
		<p>Nenhuma pessoa cadastrada</p>
	</div>
</body>
</html>